#app {
    font-family: 'iconfont';
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    background:#62bf82;
    width:100%;
    height:80px;
    padding-top: 21px;
    .nav{
        width: auto;
        margin: 0 10px;
    }
    .music,.mine,.find,.menu,.add{
        width: 20%;
       color: #edf8f1;
       font-size: 20px;
       text-align: center;
    //    margin: 10px 25px;
    }
    .menu{
        text-align: left
    }
    .add{
        text-align: right
    }
    .music.h,.mine.h,.find.h{
        color: #fff;
    }
    .search{
        width: auto;
        height: 32px;
        margin:0px 10px;
        margin-top: 15px;
        border-radius: 4px;
        line-height: 32px;
        background:  #55a872;
        color: #fff;
        .content{
            width: 120px;
            margin: 0 auto;
            text-align: center
        }
    }
}

.user{
    width: 100%;
    margin-top: 117px;
    .online,.vip{
        height: 25px;
        border-radius: 15px;
        text-align: center;
        line-height: 25px;
        border: 1px solid #aaa;
        font-size: 14px;
    }
    .online{
        width:75px;
        color:#55a872;
        margin-left: 70px;
    }
    .via{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        text-align: center;
        border: 1px solid #aaa;
        margin: 0 auto;
        overflow: hidden;
        img{
            width: 100%;

        }
    }
    .vip{
        width:55px;
        margin-right: 70px;
    }
    .userName{
        width: 200px;
        margin:0 auto;
        text-align: center;
        margin-top:5px;
    }
}

.main{
    height: 230px;
    border-bottom: 5px solid #e4e4e4;
    .all,.download,.recent,.like,.mv,.buy{
        width: 33.333%;
        float: left;
        height: 110px;
        text-align: center;
        cursor: pointer;
        .logo{
            font-size: 40px;
            color: #62bf82;
            margin-top: 20px;
        }
        p{
            color: #000;
            font-size: 15px;
        }
    }
}

.radio{
    .character{
        border-bottom: 1px solid #e4e4e4;
    }
    .running{
        
        border-bottom: 5px solid #e4e4e4;
    }
    .character,.running{
        height: 62px;
        .logo{
            margin-right: 15px;
        }
        p{
            padding-top: 10px;
        }
    }
}

.list{
    margin-bottom: 60px;
    .create{
        width: 200px;
        text-align: center;
        margin: 0 auto;
        line-height: 50px;
    }
    .add,.menu{
        font-size: 20px;
        margin-right: 20px;
        margin-top: 15px;
    }
}

.player{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background: #fff;
    padding-top: 5px;
    border-top: 1px solid #e4e4e4;
    .logo{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        margin-left: 10px;
        img{
            width: 100%;
        }
        
    }
    p{
        padding-top: 5px;
    }
    .menu,.go{
        font-size: 30px;
        color: #62bf82;
        margin-right: 15px;
        margin-top: 10px
    }
}



#music,#find{
    margin-top: 130px;
}

.all,.like,.download{
    .header{
        height: 40px;
        .title{
            // margin: 0 auto;
            background: #f1ff;
            text-align: center;
        }
        .back{
            margin-left: 15px;
        }
        .back,.title{
            font-size: 20px;
            color: #fff;
        }
        .menu{
            width: 30px;
            text-align: right;
            margin-right: 15px;
        }
    }
    .nav{
        height: 40px;
        background: #fff;
        
        width: auto;
        margin: 0 15px;
        margin-top: 60px;
        padding-bottom: 5px;
        .song,.article,.special{
            float: left;
            width: 33%;
            text-align: center;
            line-height: 40px;
            font-size: 16px;
            color: #756464;
        }
        .song.h,.article.h,.special.h{
            border-bottom: 5px solid #78E29C;
        }
    }

    .single-music{
        // width: auto;
        //  padding: 0 15px;
        .demo{
            width: auto;
            height: 50px;
            padding: 0 20px;
            border-top: 1px solid #aaa;
            border-bottom: 1px solid #aaa;
            .message,.menu{
                color: #aaa;
            }
            .name{
                margin-top: 5px;
            }
            .message{
                font-size: 12px;
            }
            .menu{
                line-height: 50px;
            }
        }

        .single{
            width: auto;
            margin: 0 15px;
            height: 50px;
            padding: 0 5px;
            border-bottom: 1px solid #aaa;
            .message,.menu{
                color: #aaa;
            }
            .name{
                padding-top: 5px;
                font-size: 16px;
                color: #000;
            }
            .message{
                font-size: 12px;
            }
            .menu{
                line-height: 50px;
            }
        }
    }
    
}